.container{
    display: grid;

    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 300px 300px 300px;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
}


.box{
    background-color: bisque;
  padding: 30px;
}

.box:nth-child(odd){
    background-color: blue;
    color: #fff;
}